server:
  port: 8080
  forward-headers-strategy: framework

spring:
  application:
    name: ecommerce-backend

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: "your_google_client_id"
            client-secret: "your_google_client_secret"
            scope:
              - openid
              - email
              - profile

  datasource:
    url: jdbc:postgresql://localhost:5432/ecommerce_db
    username: postgres
    password: your_postgres_password_here
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

springdoc:
  swagger-ui:
    path: /swagger-ui.html
  default-produces-media-type: application/json

jwt:
  secret: "change-this-to-a-long-random-string-at-least-32-characters-long"
  expiration-ms: 86400000  # 24 hours

paystack:
  secret-key: "your_paystack_test_secret_key_here"
  base-url: "https://api.paystack.co"

brevo:
  api-key: "your_brevo_api_key"
  sender-email: "no-reply@example.com"
  sender-name: "ShopHub"
  base-url: "https://api.brevo.com"

app:
  frontend-url: "https://e-commerce-frontend-coral-iota.vercel.app"
